html,
body {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
  font-family: "Roboto", Arial, serif;
  background-color: #90ab9c;
  margin: 0;
  padding: 0;
  width:  900px;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.main-header {
  width: 900px;
  margin-right: 20px;
  padding-top: 10px;
  min-height: 112px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  width: 142px;
  min-height: 74px;
  padding-left: 15px;
}

.main-menu {
  float: left;
  width: 437px;
  min-height: 64px;
  padding-top: 3px;
}

.main-menu li {
  display: inline;
}

.main-menu a {
  margin-right: 24px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: bold;
}

.user-block {
  float: right;
  width: 276px;
  min-height: 36px;
  margin-top: 10px;
  margin-bottom: 18px;
}

.phone {
  float: right;
  width: 200px;
  min-height: 38px;
}

.slider {
  position: relative;
  top: -70px;
}

.slider h2 {
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slider-slides {
  width: 300%;
  transition: transform 0.1s ease;
}

.slider-slides img {
    float: left;
  }

.slider-item {
  float: left;
  margin-right: 115px;
  margin-left: 125px;
}

.slider-inner {
  overflow: hidden;
}

.slider-controls {
    margin-left: 20px;
    text-align: left;
}

.slider input {
  display: none;
}

.slider-controls label {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  transition: background-color 0.1s;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #ffffff;
}

#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(-0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-900px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
  transform: translate(-1800px);
}

.gallery-link {
  float: right;
  margin-right: 290px;
  width: 281px;
}

.container {
  width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 1687px;
}

.actions {
  width: 860px;
  min-height: 230px;
  margin-bottom: 40px;
}

.action-1 {
  float: left;
  background-image: url("../img/crimson-background.jpg");
}

.action-2 {
  float: right;
  background-image: url("../img/chocolate-background.jpg");
}

.action-1,
.action-2 {
  width: 420px;
  border-radius: 15px;
  min-height: 230px;
}

.actions h2 {
  margin-left: 16px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 41px;
}

.actions p {
  margin-left: 16px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 22px;
}

.hits {
  width: 100%;
  min-height: 278px;
  margin-bottom: 40px;
}

.hits-item {
  float: left;
  width: 200px;
  margin-right: 20px;
}

.hits-item:last-child {
  margin-right: 0px;
}

.advantages {
  width: 100%;
  min-height: 372px;
  padding-top: 30px;
  margin-bottom: 40px;
}

.advantages span {
  width: 100%;
  padding-left: 20px;
  margin-bottom: 10px;
}

.advantage-item {
  float: left;
  width: 400px;
  min-height: 135px;
  margin-left: 20px;
}

.news {
  float: left;
  width: 420px;
  min-height: 220px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.subscription {
  float: right;
  margin-right: 20px;
  margin-bottom: 40px;
  width: 420px;
  min-height: 220px;
}

.map {
  width: 100%;
}

.address {
  float: right;
  margin-right: 20px;
  margin-top: 63px;
  width: 300px;
  min-height: 300px;
}

.feedback {
  width: 250px;
  min-height: 47px;
  margin-right: 25px;
  margin-bottom: 30px;
}

.main-footer {
  width: 860px;
  min-height: 100px;
}

.social {
  float: left;
  width: 200px;
  min-height: 40px;
  margin-left: 20px;
  margin-bottom: 38px;
  margin-right: 20px;
}

.container-link {
  float: left;
  width: 420px;
  min-height: 40px;
  margin-bottom: 38px;
}

.container-link-left {
  float: left;
  width: 200px;
}

.container-link-right {
  float: right;
  width: 220px;
}

.footer-copyright {
  float: right;
  width: 190px;
  min-height: 60px;
  margin-right: 20px;
  margin-top: 20px;
}

.breadcrumbs {
  float: left;
  width: 420px;
  min-height: 15px;
}

.container-catalog {
  width: 860px;
  min-height: 1280px;
  margin: auto;
}

.form {
  width: 860px;
  min-height: 135px;
}

.sort {
  float: left;
  width: 200px;
  min-height: 67px;
}

.price {
  float: left;
  width: 240px;
  min-height: 67px;
}

.fat {
  float: left;
  width: 420px;
  min-height: 67px;
}

.fillers {
  float: left;
  width: 715px;
  min-height: 67px;
}

.assort {
  margin-top: 38px;
  width: 860px;
  margin-bottom: 45px;
}

.assort-item {
  float: left;
  width: 200px;
  min-height: 315px;
  margin-right: 20px;
}

.assort-item:nth-child(4n+4) {
  margin-right: 0px;
}

.paginator {
  float: right;
  width: 200px;
  min-height: 30px;
  margin-right: 20px;
  margin-bottom: 30px;
}
